// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
  text-decoration: none !important;
}

.v-toolbar {
  box-shadow: none !important;
}

button {
  box-shadow: none !important;
}

.one {
  margin-top: 48px !important;
}

.two {
  margin-top: 89px !important;

}

.three {
  margin-top: 130px !important;

}
.four {
  margin-top: 170px !important;

}